.sidenav-menu-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.sidenav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    transition: width 0.2s;
}

.sidenav-content {
    height: 100vh;
}

.sidenav-collapsed~.sidenav-content {
    margin-left: 0px;
}


.sidenav-menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding: 12px 16px;
    cursor: pointer;
}

.menu-icon {
    font-size: 22px;
    min-width: 32px;
    text-align: center;
    line-height: 1;
    margin-right: 8px;
}

